<div class ="row">
  <div class="col-md-8">
  <% @posts.each do |post|%>
    <div class="article">
      <h2>タイトル：<%= post.title %></h2>
      <p>カテゴリ：<%= post.title %></p>
      <p>作成日：<%= post.created_at %></p>
      <p><%= truncate(post.body, length:50) %></p>
      <p><%= link_to "続きを読む", post, class: "btn btn-info" %></p>
      <hr>
    </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="card">
      <%= image_tag @author.image_url, class: "card-img-top", alt: "著者イメージ" %><div class="card-body">
    </div>
  </div>
</div>