<div class="row">
  <div class="col-md-12">
  <div class="form-line float-right mb-3">
    <%= search_form_for @q do |f| %>
      <div class="form-group">
        <%= f.search_field :title_or_body_cont, placeholder: "タイトルか本文を検索", class: "form-control" %>
        <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
      </div>
  </div>
</div>
<div class ="row">
  <div class="col-md-8">
  <% @posts.each do |post|%>
    <div class="article">
      <h2 class="post_title">タイトル：<%= post.title %></h2>
      <p class="post_title">カテゴリ：<%= post.title %></p>
      <p>作成日：<%= post.created_at %></p>
      <p><%= truncate(post.body, length:50) %></p>
      <p><%= link_to "続きを読む", post, class: "btn btn-info" %></p>
      <hr>
    </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="card">
      <%= image_tag @author.image_url, class: "card-img-top", alt: "著者イメージ" %><div class="card-body">
      <div class="card-body">
        <h3>著者名：<%= @author.name %></h3>
        <p>詳細：<%= @author.description %></p>
      </div>
      <div class="list_group">
        <% @new_posts.each do |post| %>
        <%= link_to post.title, post, class: "list-group-item" %>
        <%end%>
      </div>
    </div>
  </div>
</div>